@import "../abstracts/variables";


header {
    box-shadow: 3px 0px 20px 0px #0000000A;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 30px;

    .mobile-toggle-bar {
        margin-right: 10px;
        display: none;
        cursor: pointer;
    }

    .logo {
        width: 144.8px;
        height: 30px;
    }

    .search-box {
        display: flex;
        width: 400px;
        height: 40px;
        // opacity: 0.2;
        border-width: 1px;
        border-radius: 8px;
        border: 1px solid rgba(33, 63, 125, 20%);
        background: #FFFFFF;
        overflow: hidden;
        margin-left: 90px;
        margin-right: 10px;

        input {
            width: calc(400px - 56px);
            height: 100%;
            border: none;
            padding: 0 15px;
            outline: none;
            font-family: Work Sans;
            color: $text-gray;

            ::placeholder{
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $text-gray;
                font-family: Work Sans;
            }
        }

        input::-webkit-input-placeholder {
            font-family: 'Work Sans', sans-serif;
        }

        input::-moz-placeholder {
            font-family: 'Work Sans', sans-serif;
        }

        input:-ms-input-placeholder {
            font-family: 'Work Sans', sans-serif;
        }

        .search {
            width: 56px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #39CDCC;
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    .right-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .doc-link {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        color: $text-blu;
    }

    .bell {
        margin-left: 16px;
        color: $text-blu;
    }

    .username {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: $text-blu;
        margin-left: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .user-pic {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}

@media(max-width: 1100px){
    .navbar {
        .search-box {
            margin-left: 30px;
        }

        .mobile-toggle-bar {
            display: block;
        }
    }
}

@media(max-width: 700px){
    .navbar {
        padding: 0 15px;
        .logo {
            display: none;
        }

        .user-pic {
            display: none;
        }

        .search-box {
            margin-left: 10px;
        }

        .right-nav {
            gap: 5px;
        }

        .username {
            margin-left: 6px;
        }
    }
}

@media(max-width: 500px) {
    .navbar {
        .search-box {
            width: 200px;

            input {
                width: calc(200px - 50px);
                padding: 0 5px;
            }
        }
        .doc-link {
            display: none;
        }
    }
}