@import "../abstracts/variables";


#users-data {
    .table-container {
        border: 1px solid #213F7D0F;
        width: 100%;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 20px;
        overflow-x: auto;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 3px 5px 20px 0px #0000000A;
    }

    .table {
        width: 100%;
        min-width: 950px;
        text-align: center;
        border-collapse: collapse;
    }

    .table-head {
        font-family: Work Sans;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $text-gray;
        padding: 10px 0px;
    }

    .tb-row {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        color: $text-gray;
        position: relative;
        border-top: 1px solid #213F7D1A;

    }

    .tb-row:nth-child(1) {
        border: 0;
    }

    .tb-row td {
        padding: 15px 0;
    }

    .tb-row td:nth-child(1) {
        text-transform: lowercase;
    }

    .tb-row td:nth-child(1)::first-letter{
        text-transform: uppercase;
    }

    .edit-user-status {
        border-width: 0px, 0px, 0px, 0px;
        border-style: solid;
        border-color: #545F7D0A;
        width: 180px;
        height: 130px;
        position: absolute;
        background-color: #FFFFFF;
        z-index: 4;
        right: -12px;
        flex-direction: column;
        display: none;
        text-align: left;
        justify-content: space-between;
        padding: 20px 0px;
        box-shadow: 3px 5px 20px 0px #0000000A;
        border-width: 1px;
        border-radius: 4px;

    }

    .edit-user-status > div {
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .reveal-user-status-modal {
        display: flex;
    }

    .status-badge {
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        height: 30px;
        margin: auto;
    }

    .active {
        color: #39CD62;
        width: 70px;
        background-color: rgba(57, 205, 98, 6%);
    }

    .pending {
        width: 90px;
        background-color: rgba(233, 178, 0, 10%);
        color: #E9B200;
    }

    .blacklisted {
        background-color: rgba(228, 3, 59, 10%);
        width: 100px;
        color: #E4033B;
    }

    .inactive {
        color: #545F7D;
        background-color: rgba(84, 95, 125, 6%);
        width: 80px;
    }

    .set-filter {
        width: 270px;
        height: 600px;
        border: 1px solid #545F7D24;
        border-radius: 4px;
        box-shadow: 3px 5px 20px 0px #0000000A;
        position: absolute;
        top: 70px;
        z-index: 2;
        background-color: #FFFFFF;
        padding: 25px 15px;
        padding-bottom: 15px;
        display: none;
    }

    .display-modal {
        display: block;
    }

    .data-container {
        margin-bottom: 20px;
    }

    .data-container label {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $text-gray;
        display: block;
        margin-bottom: 8px;

    }

    .date-box {
        position: relative;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
        }
    }

    .data-field {
        border: 1px solid rgba(33, 63, 125, 0.2);
        width: 100%;
        height: 40px;
        border-radius: 8px;
        padding: 0 8px;
        font-family: Work Sans;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(84, 95, 125, 70%);
    }


    .data-field::placeholder {
        color: #545F7D;
        font-family: Work Sans;
        opacity: 0.7;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    // .data-field::-webkit-input-placeholder {
    //         font-family: 'Work Sans', sans-serif;
    //     }

    //     .data-field::-moz-placeholder {
    //         font-family: 'Work Sans', sans-serif;
    //     }

    //     .data-field:-ms-input-placeholder {
    //         font-family: 'Work Sans', sans-serif;
    //     }

    .buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 30px;

        button {
            width: 98px;
            height: 40px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        .reset {
            border: 1px solid #545F7D;
            background-color: transparent;
            color: #545F7D;
        }

        .filter {
            border: 1px solid #39CDCC;
            background: #39CDCC;
            color: #FFFFFF;
        }
    }

    .pagination-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pagination-left {
        color: $text-gray;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .pagination-left select {
        background: #213F7D1A;
        width: 80px;
        padding-left: 10px;
        height: 30px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #213F7D;
        border: 0;
    }

    .pagination-right {
        display: flex;
        gap: 6px;
    }

    .pagination-right .number {
        background-color: transparent;
        border: none;
    }

    .pagination-right .current {
        color: $text-gray;
    }

    .pagination-right .not-current, .ellipsis {
        color: #545F7D;
        opacity: 60%;
    }

    .left-btn, .right-btn {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: #213F7D1A;
        color: $text-blu;
        border: none;
        font-size: 10px;
        cursor: pointer;
    }

    .disable-btn {
        opacity: 60%;
    }
    
}


.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;

    .spinner {
        scale: 4;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}