@import "../../../styles/abstracts/variables";

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // or 100vh if you want fullscreen
}

  .spinner {
    font-size: 30px;
    color:$primary;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
