.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // or 100vh if you want fullscreen
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
