.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.body {
  display: flex;
  height: calc(100vh - 70px); // adjust based on Navbar height
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
