.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.body {
  display: flex;
  height: calc(100vh - 100px); // adjust based on Navbar height
  width: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 60px;
  margin-left: 283px;
  transition: margin 0.3s ease-in-out;
}


/* Responsive: sidebar hidden or overlayed on smaller screens */
@media (max-width: 1100px) {
  .content {
    margin-left: 0; // full width when sidebar is hidden
    padding: 30px;
  }
}
