@import "../../styles/abstracts/variables";

.header {
  width: 100%;
  background: #ffffff;
  box-shadow: 3px 0px 20px 0px #0000000a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: 100px;
  padding-left: 30px;
  padding-right: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileToggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  width: 150px;
}

.searchBox {
  position: relative;
  width: 400px;

  input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(84, 95, 125, 0.2);
    padding: 0 15px;
    border-radius: 8px;
    outline: none;

    &:focus {
      border-color: $primary;
    }
    &::placeholder {
      opacity: 0.6;
      font-size: 14px;
    }
  }
}

.searchIcon {
  position: absolute;
  top: 0;
  right: 0px;
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #39cdcc;
  color: #ffffff;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rightNav {
  display: flex;
  align-items: center;
}

.docsLink {
  text-decoration: underline;
  color: #213f7d;
  margin-right: 47px;
  font-size: 16px;
}

.bell {
  font-size: 26px;
  cursor: pointer;
  margin-right: 30px;
  color: $text-blue;
}

.userPic {
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: $text-blue;
}

/* Mobile */
@media (max-width: 1100px) {
  .searchBox {
    display: none;
  }

  .mobileToggle {
    display: block;
  }
}

/* Small screens (mobile) */
@media (max-width: 795px) {
  .navbar {
    width: 75%;
  }
  .rightNav {
    display: none;
  }
}
