@import "../../../styles/abstracts/variables";
.box {
  box-shadow: 3px 5px 20px 0px #0000000a;
  border: 1px solid rgba(33, 63, 125, 0.06);
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 14px;
  padding: 20px 30px 30px 25px;

  img {
    width: 40px;
    height: 40px;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: $text-gray;
    margin: 0;
  }

  p {
    color: $text-blue;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
  }
}

