@import "../../styles/abstracts/variables";

.sidebar {
  width: 283px;
  height: calc(100svh - 100px);
  background: #fff;
  box-shadow: 0px 5px 20px 0px #0000000a;
  position: fixed;
  top: 100px;
  overflow-y: auto;
  padding: 20px 0 10px 0;
  z-index: 9;
  transition: all 0.3s ease-in-out;

  .end-icon {
    display: flex;
    align-items: center;
  }

  .links-header {
    font-weight: 500;
    font-size: 12px;
    color: $text-gray;
    padding-left: 29px;
    margin-top: 31px;
    margin-bottom: 10px;
  }

  ul {
    margin: 0 0 20px 0; // remove default margin
    padding-left: 0; // remove default padding
    list-style-type: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 30px;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #213f7d;
    opacity: 0.6;
    text-decoration: none;

    &.active-1 {
      opacity: 1;
      background: rgba(57, 205, 204, 0.06);
      border-left: 3px solid #39cdcc;
    }
  }

  .top-side {
    margin-bottom: 30px;
  }

  .link-li {
    margin-bottom: 10px;
  }

  .bottom-link {
    border-top: 1px solid rgba(33, 63, 125, 0.1);
    margin-top: 30px;
  }
}

/* Scrollbar */
.sidebar.hide-scroll-bar:hover {
  scrollbar-width: thin;
}
.sidebar.hide-scroll-bar:hover::-webkit-scrollbar {
  width: 6px;
}
.sidebar.hide-scroll-bar:hover::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 1100px) {
  .sidebar {
    left: -283px;
  }

  .reveal-sidebar {
    left: 0;
  }
}
