@import "../../../styles/abstracts/variables";

.login-container {
  display: flex;
  align-items: center;
  padding: 0px 67px;
  width: 100%;
  height: 100%;

  .signin-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
  }
  .form-container {
    padding: 0px 100px;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 40px;
    color: $text-blue;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
  .inputfield-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .forgot-password {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 10%;
    padding: 0;
    margin: 0;
  }
  .button {
    margin-top: 30px;
  }
}

/* Medium screens (tablet) */
@media (max-width: 1100px) {
  .login-container {
    padding: 0px 17px;

    .signin-img {
      max-width: 450px;
    }
    .form-container {
      padding: 0px 30px;
    }
  }
}

/* Small screens (mobile) */
@media (max-width: 795px) {
  .login-container {
    flex-direction: column;
    align-items: center;
      padding: 0px 67px;

    .signin-img {
      max-width: 100%;
      height: auto;
      display: none;
    }
    .form-container {
      padding: 0;
    }
  }
}
