@import "../../../styles/abstracts/variables";

.container {
  min-height: 100vh;
  background: #fff;
   max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 73px;
  padding-left: 97px ;
  padding-top: 108px;

  .logo-img {
    width: 174px;
    height: 36px;
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Medium screens (tablet) */
@media (max-width: 990px) {
  .content {
    gap: 20px;
  }
}

/* Small screens (mobile) */
@media (max-width: 795px) {
    .header{
        padding-left: 67px;
    }
  .content {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

}
